@import './config.scss';

.no-internet {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 150px);
  width: 300px;
  background-color: white;
}

.no-internet__header__title {
  color: $primary-color;
}

.no-internet__header__close {
  outline: none !important;
}

.show {
  -webkit-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 1;}
  to {bottom: 20px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 1;}
  to {bottom: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 20px; opacity: 1;}
  to {bottom: 0; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 20px; opacity: 1;}
  to {bottom: 0; opacity: 1;}
}