@import "./config";

.single-todo {
  display: flex;
  height: 100px;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 3px;
}

.single-todo:hover {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.single-todo__contents {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.single-todo__contents--finished {
  text-decoration: line-through;
  color: #aaaaaa;
}

.single-todo__actions {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.single-todo__contents__title {
  margin: 0 10px;
  font-size: 24px;
}

.single-todo__contentes__description {
  margin: 0 10px;
}

.single-todo__actions__button {
  padding: 5px;
  width: 30px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  border: none;
  outline: none !important;
}

.single-todo__actions__button:hover {
  transform: translateY(-2px);
}

.single-todo__actions__button--remove {
  background-color: red;
}